.carousel {
	width: 16.125em;
	height: 16.125em;
	position: relative;
	margin: 0 auto;
	perspective: 62.5em;
}

.carousel__container {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	will-change: transform;
	transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.carousel__slide {
	position: absolute;
	width: 14em;
	height: 14em;
	left: 0.736em;
	top: 0.736em;
	border: 0.25em solid;
	transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s;
	align-items: center;
	justify-content: center;
	display: flex;
	background-color:#FFF;
	box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.90), 0 0 0.65em rgba(0, 0, 0, 0.70), 0 0 1.15em rgba(0, 0, 0, 0.70);
}

.carousel__slide img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
}

.carousel__slide-overlay {
	color: #fff;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.35s ease-in-out;
	user-select: none;
	background: rgba(0,0,0,.3);
}

.carousel__slide-overlay span,
.carousel__slide-overlay strong {
	display: block;
	flex: 0 0 100%;
}

.carousel__slide:hover .carousel__slide-overlay {
	opacity: 1;
}

.carousel__controls {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	top: -3em;
	position: relative;
}

.carousel__control {
	line-height: 0;
	text-indent: -100%;
	width: 3.75em;
	height: 3.75em;
	display: block;
	position: relative;
	border: 1px solid;
	margin: 0 2em;
	background: #757575;
	border-radius: 50%;
	box-shadow: none;
}

.carousel__control::before,
.carousel__control::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.carousel__control::before {
	width: 32%;
	height: 0.25em;
	background-color: #fff;
}

.carousel__control::after {
	content: '';
	width: 0.9375em;
	height: 0.9375em;
	display: inline-block;
	vertical-align: middle;
	border-color: #fff;
	border-style: solid;
	border-width: 0 0 0.25em 0.25em;
	margin: auto;
	will-change: transform;
	transform: rotate(-135deg) translateZ(0);
	transform-origin: 50% 50%;
	transition: all 0.35s ease-in-out;
}

.carousel__control--prev::after {
	will-change: transform;
	transform: rotate(45deg) translateZ(0);
}
