.d-ev-music-container {
  color: #FFFFFF;
  display: flex;
  background: #000000;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.d-ev-music-code-embed {
  display: contents;
}
.d-ev-music-header {
  width: 100%;
  display: flex;
  padding: 2.47rem;
  z-index: 5;
  position: fixed;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.25);
  align-items: center;
  line-height: normal;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.d-ev-music-text {
  display: inline-block;
  z-index: 3;
  font-size: 1.5rem;
  text-align: start;
  font-family: Courier New;
  font-weight: bolder;
  white-space: nowrap;
  padding-right: 5rem;
}
.d-ev-music-nav {
  display: flex;
  font-size: 1.5rem;
}
.d-ev-music-burger-menu {
  display: none;
}
.d-ev-music-icon {
  fill: var(--dl-color-gray-white);
  width: 2.4rem;
  height: auto;
}
.d-ev-music-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}
.d-ev-music-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.d-ev-music-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.d-ev-music-text03 {
  display: inline-block;
  z-index: 3;
  font-size: 1.5rem;
  text-align: start;
  font-family: Courier New;
  font-weight: bolder;
  line-height: normal;
  white-space: nowrap;
  padding-right: 5rem;
}
.d-ev-music-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-ev-music-icon02 {
  fill: var(--dl-color-gray-white);
  width: 2rem;
  height: 2rem;
}
.d-ev-music-nav2 {
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.d-ev-music-icon-group {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  object-position: center;
}
.d-ev-music-row {
  fill: #ff7700;
  display: inline-block;
}
.d-ev-music-icon04 {
  fill: #ff7700;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  text-decoration: none;
}
.d-ev-music-row01 {
  fill: #D25D6F;
  display: inline-block;
}
.d-ev-music-icon06 {
  fill: #D25D6F;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  text-decoration: none;
}
.d-ev-music-row02 {
  fill: #D25D6F;
  display: inline-block;
}
.d-ev-music-image {
  fill: #D25D6F;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  text-decoration: none;
}
.d-ev-music-row03 {
  fill: #1D9BF0;
  display: inline-block;
}
.d-ev-music-image1 {
  fill: #1D9BF0;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  text-decoration: none;
}
.d-ev-music-row04 {
  fill: #FF0000;
  display: inline-block;
}
.d-ev-music-image2 {
  top: 0.12rem;
  fill: #FF0000;
  width: 1.84rem;
  height: 1.84rem;
  position: relative;
  text-decoration: none;
}
.d-ev-music-icon-group1 {
  height: 50%;
  display: inline-block;
  position: relative;
  min-width: 6rem;
  align-self: center;
  min-height: 1.8rem;
  margin-left: -2rem;
  white-space: nowrap;
  margin-right: 2rem;
}
.d-ev-music-row05 {
  fill: #ff7700;
  display: inline-block;
}
.d-ev-music-icon08 {
  fill: #ff7700;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  text-decoration: none;
}
.d-ev-music-row06 {
  fill: #D25D6F;
  display: inline-block;
}
.d-ev-music-icon10 {
  fill: #D25D6F;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  text-decoration: none;
}
.d-ev-music-row07 {
  fill: #D25D6F;
  display: inline-block;
}
.d-ev-music-image3 {
  fill: #D25D6F;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  text-decoration: none;
}
.d-ev-music-row08 {
  fill: #FFFFFF;
  display: inline-block;
}
.d-ev-music-image4 {
  fill: #FFFFFF;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  text-decoration: none;
}
.d-ev-music-row09 {
  fill: #FF0000;
  display: inline-block;
}
.d-ev-music-image5 {
  top: 0.12rem;
  fill: #FF0000;
  width: 1.84rem;
  height: 1.84rem;
  position: relative;
  text-decoration: none;
}
.d-ev-music-hero {
  width: 100vw;
  display: flex;
  padding: 0;
  z-index: 2;
  position: relative;
  background: center / contain linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),center / 100% 100% no-repeat url("https://raw.githubusercontent.com/Alendrone/DJev/a6e8a39bdc2abf028284023939bb733bae19fb36/cdn/beach.png");
  min-height: 80vh;
  object-fit: scale-down;
  align-items: center;
  flex-direction: column;
  background-size: auto 100%;
  justify-content: center;
}
.d-ev-music-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  z-index: 0;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.d-ev-music-link09 {
  top: 60vh;
  color: var(--dl-color-gray-black);
  border: .4rem solid #FFF;
  position: absolute;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: .75rem;
  margin-right: 2%;
  padding-left: 1.5rem;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0;
  padding-right: 1.5rem;
  padding-bottom: .75rem;
  text-decoration: none;
  background-color: #FFF;
}
.d-ev-music-link09:hover {
  transform: scale(1.02);
}
.d-ev-music-text06 {
  font-size: 1.5rem;
  word-wrap: break-word;
  letter-spacing: 0.063rem;
}
.d-ev-music-text07:hover {
  transform: scale(1.02);
}
.d-ev-music-image6 {
  height: 95vh;
  margin: 0;
  display: block;
  padding: 0;
  z-index: 0;
  position: absolute;
  min-width: 100%;
  object-fit: fill;
}
.d-ev-music-container03 {
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0;
  font-size: 1rem;
  align-items: flex-start;
}
.d-ev-music-text09 {
  width: 29%;
  height: 4%;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-family: Courier New;
  font-weight: 700;
  padding-bottom: 2rem;
}
.d-ev-music-separator {
  right: 20%;
  width: 40%;
  height: .125rem;
  display: block;
  position: relative;
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgb(119, 119, 119);
}
.d-ev-music-blog-post-card {
  width: 100%;
  border: none;
  margin: 0;
  display: block;
  padding: 0;
  z-index: 0;
  position: relative;
  background: linear-gradient(189deg, rgb(70.588% 70.588% 70.588%) 0%, rgb(70.558% 70.558% 70.558%) 6.25%, rgb(70.345% 70.345% 70.345%) 12.5%, rgb(69.766% 69.766% 69.766%) 18.75%, rgb(68.643% 68.643% 68.643%) 25%, rgb(66.798% 66.798% 66.798%) 31.25%, rgb(64.063% 64.063% 64.063%) 37.5%, rgb(60.283% 60.283% 60.283%) 43.75%, rgb(55.319% 55.319% 55.319%) 50%, rgb(50.434% 50.434% 50.434%) 56.25%, rgb(46.819% 46.819% 46.819%) 62.5%, rgb(44.259% 44.259% 44.259%) 68.75%, rgb(42.557% 42.557% 42.557%) 75%, rgb(41.531% 41.53% 41.53%) 81.25%, rgb(41.005% 41.005% 41.005%) 87.5%, rgb(40.812% 40.812% 40.812%) 93.75%, rgb(40.784% 40.784% 40.784%) 100% );
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.d-ev-music-blog-post-card:hover {
  transform: scale(1.04);
}
.d-ev-music-image7 {
  width: 62.5vw;
  height: 87.5vw;
  margin: 0 auto;
  display: block;
  object-fit: contain;
  border-radius: 0px;
}
.d-ev-music-container04 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  font-size: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.d-ev-music-text12 {
  color: #FFF;
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.d-ev-music-text15 {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}
.d-ev-music-separator1 {
  width: 40%;
  height: .05rem;
  opacity: 1;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  background-color: #FFF !important;
}
.d-ev-music-text16 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}
.d-ev-music-container05 {
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0;
  font-size: 1rem;
  margin-top: 2rem;
  align-items: flex-start;
}
.d-ev-music-text17 {
  width: 29%;
  height: 4%;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-family: Courier New;
  font-weight: 700;
  padding-bottom: 2rem;
}
.d-ev-music-separator2 {
  right: 22%;
  width: 40%;
  height: .125rem;
  display: block;
  position: relative;
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgb(119, 119, 119);
}
.d-ev-music-gallery {
  width: 100%;
  height: 87.5rem;
  display: grid;
  grid-gap: .6rem;
  align-items: flex-start;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.d-ev-music-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: a;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url('./external/newest.png'),linear-gradient(189deg, rgb(70.588% 70.588% 70.588%) 0%, rgb(70.558% 70.558% 70.558%) 6.25%, rgb(70.345% 70.345% 70.345%) 12.5%, rgb(69.766% 69.766% 69.766%) 18.75%, rgb(68.643% 68.643% 68.643%) 25%, rgb(66.798% 66.798% 66.798%) 31.25%, rgb(64.063% 64.063% 64.063%) 37.5%, rgb(60.283% 60.283% 60.283%) 43.75%, rgb(55.319% 55.319% 55.319%) 50%, rgb(50.434% 50.434% 50.434%) 56.25%, rgb(46.819% 46.819% 46.819%) 62.5%, rgb(44.259% 44.259% 44.259%) 68.75%, rgb(42.557% 42.557% 42.557%) 75%, rgb(41.531% 41.53% 41.53%) 81.25%, rgb(41.005% 41.005% 41.005%) 87.5%, rgb(40.812% 40.812% 40.812%) 93.75%, rgb(40.784% 40.784% 40.784%) 100% );
  background-origin: border-box;
  background-position: left;
}
.d-ev-music-container06:hover {
  transform: scale(0.98);
}
.d-ev-music-container07 {
  width: 100%;
  display: inline-block;
  padding: var(--dl-space-space-unit);
  margin-top: 100%;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
}
.d-ev-music-text20 {
  color: var(--dl-color-gray-white);
  font-size: 1.25rem;
  margin-top: var(--dl-space-space-halfunit);
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
}
.d-ev-music-text21 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
  font-variant: small-caps;
}
.d-ev-music-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: b;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://raw.githubusercontent.com/Alendrone/DJev/main/cdn/tile1.jpg'),linear-gradient(189deg, rgb(70.588% 70.588% 70.588%) 0%, rgb(70.558% 70.558% 70.558%) 6.25%, rgb(70.345% 70.345% 70.345%) 12.5%, rgb(69.766% 69.766% 69.766%) 18.75%, rgb(68.643% 68.643% 68.643%) 25%, rgb(66.798% 66.798% 66.798%) 31.25%, rgb(64.063% 64.063% 64.063%) 37.5%, rgb(60.283% 60.283% 60.283%) 43.75%, rgb(55.319% 55.319% 55.319%) 50%, rgb(50.434% 50.434% 50.434%) 56.25%, rgb(46.819% 46.819% 46.819%) 62.5%, rgb(44.259% 44.259% 44.259%) 68.75%, rgb(42.557% 42.557% 42.557%) 75%, rgb(41.531% 41.53% 41.53%) 81.25%, rgb(41.005% 41.005% 41.005%) 87.5%, rgb(40.812% 40.812% 40.812%) 93.75%, rgb(40.784% 40.784% 40.784%) 100% );
  background-origin: border-box;
  background-position: left;
}
.d-ev-music-container08:hover {
  transform: scale(0.98);
}
.d-ev-music-container09 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100vw;
  align-items: flex-start;
  flex-direction: column;
}
.d-ev-music-text22 {
  top: 50%;
  color: var(--dl-color-gray-white);
  margin: 0 auto;
  position: relative;
  font-size: 1.25rem;
  max-width: 12ch;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
  border-bottom: solid white .34rem;
  border-radius: 1.25rem 0 1.5rem 1.5rem;
  padding-bottom: 0.78rem;
}
.d-ev-music-text23 {
  top: 50%;
  color: var(--dl-color-gray-white);
  margin: 0 auto;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  padding-top: .5rem;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
  font-variant: small-caps;
}
.d-ev-music-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: c;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://raw.githubusercontent.com/Alendrone/DJev/main/cdn/tile2.png'),linear-gradient(189deg, rgb(70.588% 70.588% 70.588%) 0%, rgb(70.558% 70.558% 70.558%) 6.25%, rgb(70.345% 70.345% 70.345%) 12.5%, rgb(69.766% 69.766% 69.766%) 18.75%, rgb(68.643% 68.643% 68.643%) 25%, rgb(66.798% 66.798% 66.798%) 31.25%, rgb(64.063% 64.063% 64.063%) 37.5%, rgb(60.283% 60.283% 60.283%) 43.75%, rgb(55.319% 55.319% 55.319%) 50%, rgb(50.434% 50.434% 50.434%) 56.25%, rgb(46.819% 46.819% 46.819%) 62.5%, rgb(44.259% 44.259% 44.259%) 68.75%, rgb(42.557% 42.557% 42.557%) 75%, rgb(41.531% 41.53% 41.53%) 81.25%, rgb(41.005% 41.005% 41.005%) 87.5%, rgb(40.812% 40.812% 40.812%) 93.75%, rgb(40.784% 40.784% 40.784%) 100% );
  background-origin: border-box;
  background-position: center top;
}
.d-ev-music-container10:hover {
  transform: scale(0.98);
}
.d-ev-music-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.d-ev-music-text27 {
  top: 50%;
  left: 25%;
  color: var(--dl-color-gray-white);
  position: relative;
  font-size: 1.25rem;
  max-width: 12ch;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
  border-bottom: solid white .34rem;
  border-radius: 1.25rem 0 1.5rem 1.5rem;
  padding-bottom: 0.78rem;
}
.d-ev-music-text28 {
  top: 50%;
  left: 25%;
  color: var(--dl-color-gray-white);
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  padding-top: .5rem;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
  font-variant: small-caps;
}
.d-ev-music-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: d;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://raw.githubusercontent.com/Alendrone/DJev/main/cdn/tile3.png');
  background-origin: border-box;
  background-position: center;
}
.d-ev-music-container12:hover {
  transform: scale(0.98);
}
.d-ev-music-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.d-ev-music-text32 {
  color: var(--dl-color-gray-white);
  bottom: 25%;
  position: relative;
  font-size: 1.25rem;
  margin-top: var(--dl-space-space-halfunit);
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
}
.d-ev-music-text33 {
  color: var(--dl-color-gray-white);
  bottom: 25%;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
  font-variant: small-caps;
}
.d-ev-music-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: e;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://raw.githubusercontent.com/Alendrone/DJev/main/cdn/tile4.png');
  background-origin: border-box;
  background-position: top left;
}
.d-ev-music-container14:hover {
  transform: scale(0.98);
}
.d-ev-music-container15 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.d-ev-music-text34 {
  color: var(--dl-color-gray-white);
  font-size: 1.25rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
}
.d-ev-music-text35 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
  font-variant: small-caps;
}
.d-ev-music-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: f;
  object-fit: contain;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://raw.githubusercontent.com/Alendrone/DJev/main/cdn/tile5.png');
  background-origin: border-box;
  background-position: top center;
}
.d-ev-music-container16:hover {
  transform: scale(0.98);
}
.d-ev-music-container17 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.d-ev-music-text36 {
  left: 15%;
  color: var(--dl-color-gray-white);
  position: relative;
  font-size: 1.25rem;
  margin-top: var(--dl-space-space-halfunit);
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
}
.d-ev-music-text37 {
  left: 15%;
  color: var(--dl-color-gray-white);
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 .2rem .15rem rgba(0,0,0,0.7), 0 .4rem .65rem rgba(0,0,0,0.2), 0 .9rem 1.15rem rgba(0,0,0,0.2);
  font-variant: small-caps;
}
@media(max-width: 1600px) {
  .d-ev-music-link09 {
    color: var(--dl-color-gray-black);
    font-style: normal;
    font-weight: 400;
    background-color: #FFF;
  }
  .d-ev-music-text06 {
    text-align: center;
  }
  .d-ev-music-text09 {
    width: 29%;
    height: 4%;
    display: inline-block;
    align-self: center;
    text-align: center;
    font-family: Courier New;
    font-weight: 700;
    padding-bottom: 2rem;
  }
  .d-ev-music-container04 {
    padding-bottom: 1.6rem;
  }
  .d-ev-music-text15 {
    font-size: 1.5rem;
  }
  .d-ev-music-text16 {
    color: var(--dl-color-gray-700);
  }
  .d-ev-music-text17 {
    width: 29%;
    height: 4%;
    display: inline-block;
    align-self: center;
    text-align: center;
    font-family: Courier New;
    font-weight: 700;
    padding-bottom: 2rem;
  }
  .d-ev-music-text20 {
    color: var(--dl-color-gray-white);
  }
  .d-ev-music-text22 {
    color: var(--dl-color-gray-white);
    font-size: 1.25rem;
  }
  .d-ev-music-text23 {
    color: var(--dl-color-gray-white);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .d-ev-music-text27 {
    color: var(--dl-color-gray-white);
    font-size: 1.25rem;
  }
  .d-ev-music-text28 {
    color: var(--dl-color-gray-white);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .d-ev-music-text32 {
    color: var(--dl-color-gray-white);
  }
  .d-ev-music-text34 {
    color: var(--dl-color-gray-white);
    font-size: 1.25rem;
  }
  .d-ev-music-text36 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .d-ev-music-text34 {
    color: var(--dl-color-gray-white);
    font-size: 1.25rem;
  }
}
@media(max-width: 991px) {
  .d-ev-music-icon {
    display: flex;
  }
  .d-ev-music-icon-group1 {
    margin-right: 1rem;
  }
  .d-ev-music-text09 {
    font-family: Courier New;
    font-weight: 700;
  }
  .d-ev-music-image7 {
    width: 100%;
    height: 87.5vw;
  }
  .d-ev-music-text17 {
    font-family: Courier New;
    font-weight: 700;
  }
  .d-ev-music-gallery {
    grid-gap: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .d-ev-music-header {
    padding: 1.97rem;
  }
  .d-ev-music-text {
    width: 326px;
    height: 75px;
    font-size: 1.5rem;
    font-family: Courier New;
    font-weight: bolder;
  }
  .d-ev-music-nav {
    display: none;
  }
  .d-ev-music-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .d-ev-music-icon {
    opacity: 1;
    align-self: center;
    justify-content: center;
  }
  .d-ev-music-text03 {
    width: 326px;
    height: 75px;
    font-size: 1.5rem;
    font-family: Courier New;
    font-weight: bolder;
  }
  .d-ev-music-icon-group1 {
    display: none;
    opacity: 0;
    align-self: center;
    visibility: hidden;
    margin-right: -4rem;
    padding-right: 6rem;
  }
  .d-ev-music-gallery {
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .d-ev-music-icon-group1 {
    display: none;
  }
  .d-ev-music-text07 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .d-ev-music-image6 {
    box-sizing: content-box;
  }
  .d-ev-music-blog-post-card {
    width: 100vw;
    max-width: 100%;
    background-color: #000000;
  }
  .d-ev-music-image7 {
    width: 60vh;
    height: 80vh;
  }
  .d-ev-music-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
}
