.home-heading {
  text-align: center;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.3333em;
  letter-spacing: normal;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  width:100%;
}

.home-description {
  box-sizing: border-box;
  font-size: 1.3333em;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: normal;
  line-height: 2em;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.home-separator {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  height: 0.075em;
  opacity: 1;
  width: 23.1285em;
  font-size: 1.375em;
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: normal;
  line-height: 0;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.home-about {
  box-sizing: border-box;
  padding: 1.0667em;
  align-items: center;
  display: flex;
  width:100%;
  flex-direction: column;
  font-size: 1.3333em;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2em;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.home-poster {
  box-sizing: border-box;
  display: block;
  height: 100%;
  max-width: 100%;
  border-radius: 0em;
  margin: 0em 11.0056em;
  object-fit: contain;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1em;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  font-size: 0.6667em;
}

.home-separator {
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: 0;
  transform: none;
  max-width: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: normal;
  line-height: 0;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  font-size: 2em;
}

.home-poster {
  box-sizing: border-box;
  display: block;
  height: 18em;
  border-radius: 0em;
  object-fit: contain;
  object-position: center;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1em;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  font-size: 0.6667em;
  background: linear-gradient(189deg, #b4b4b4b3, #b4b4b4b3 6.25%, #b3b3b3b3, #b2b2b2b3, #afafafb3, #aaaaaab3, #a3a3a3b3, #9a9a9ab3, #8d8d8db3, #818181b3, #777777b3, #717171b3, #6d6d6db3, #6a6a6ab3, #696969b3, #686868b3 93.75%, #686868b3), url("https://cdn.jsdelivr.net/gh/elijahducote/DJEv@main/client/source/img/waves.gif") no-repeat left / 50vw 75vh, url("https://cdn.jsdelivr.net/gh/elijahducote/DJEv@main/client/source/img/waves_2.gif") no-repeat 50vw / 50vw 75vh;
}
/*background: linear-gradient(189deg, #b4b4b4b3, #b4b4b4b3 6.25%, #b3b3b3b3, #b2b2b2b3, #afafafb3, #aaaaaab3, #a3a3a3b3, #9a9a9ab3, #8d8d8db3, #818181b3, #777777b3, #717171b3, #6d6d6db3, #6a6a6ab3, #696969b3, #686868b3 93.75%, #686868b3), url(http://localhost:3000/CDN/img/waves.gif) no-repeat left / 50vw 75vh, url(http://localhost:3000/CDN/img/waves.gif) no-repeat 125% / 50vw 75vh;*/