.component-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  font-size: 2.4rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.component-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.component-navlink {
  font-size: 1.75rem;
  text-align: left;
  line-height: 2.65rem;
  margin-bottom: 10vh;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-underline-position: below;
}
.component-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.component-navlink1 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 10vh;
  text-decoration: none;
}
.component-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.component-navlink2 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 10vh;
  text-decoration: none;
}
.component-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
}
.component-link {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 10vh;
  text-decoration: none;
}
.component-root-class-name {
  width: 100vw;
}
@media(max-width: 1600px) {
  .component-root-class-name {
    height: 100%;
  }
}
@media(max-width: 1200px) {
  .component-container {
    width: auto;
    flex-direction: row;
  }
  .component-navlink {
    margin-right: 10vw;
  }
  .component-navlink1 {
    margin-right: 10vw;
  }
  .component-navlink2 {
    margin-right: 10vw;
  }
  .component-link {
    margin-right: 10vw;
  }
}
@media(max-width: 991px) {
  .component-container {
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .component-container {
    flex-direction: column;
  }
  .component-navlink {
    margin-right: 0;
  }
  .component-navlink1 {
    margin-right: 0;
  }
  .component-navlink2 {
    margin-right: 0;
  }
  .component-link {
    margin-right: 0;
  }
  .component-root-class-name {
    width: 100vw;
    height: 100%;
  }
}
@media(max-width: 479px) {
  .component-container {
    flex-direction: column;
  }
  .component-navlink {
    margin-right: 0;
  }
  .component-navlink1 {
    margin-right: 0;
  }
  .component-navlink2 {
    margin-right: 0;
  }
  .component-link {
    margin-right: 0;
  }
}
