.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  font-size: 1rem;
  align-items: center;
  padding-left: 2rem;
  padding-right: 3rem;
  flex-direction: row;
}
.navigation-links-text {
  font-size: 1.25rem;
  background: linear-gradient(180deg, rgba(0,0,0,0),rgba(0,0,0,0) 81%, #FFF 81.1%, #FFF 85%,rgba(0,0,0,0) 85.1%,rgba(0,0,0,0));
  text-align: left;
  line-height: 2.65rem;
  margin-right: 2rem;
  text-decoration: underline;
  background-position: bottom 10rem left 5rem;
  text-underline-offset: 1rem;
  text-underline-position: below;
}
.navigation-links-navlink {
  font-size: 1.25rem;
  text-align: center;
  margin-right: 2rem;
  text-decoration: none;
}
.navigation-links-navlink1 {
  font-size: 1.25rem;
  text-align: center;
  margin-right: 2rem;
  text-decoration: none;
}
.navigation-links-link {
  font-size: 1.25rem;
  text-align: right;
  text-decoration: none;
}









@media(max-width: 1200px) {
  .navigation-links-nav {
    justify-content: center;
  }
  .navigation-links-root-class-name10 {
    align-self: center;
  }
}
@media(max-width: 991px) {
  .navigation-links-root-class-name10 {
    width: auto;
    height: auto;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
